html
  head
    title= name
    style
      include style.css
  body
    include ./header.pug 
    if(user)
      h1 Hi, #{user.name}
    else
      a.button-sign(href= url) Sign up
      a.button-cont(href= page) Continue
    include ./footer.pug 